div.passwordInput {
	text-align: left;
	display: flex;
	flex-direction: column;
}

div.inputContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-radius: 10px;
	border: 1px solid #e3e0fc;
	background: linear-gradient(90deg, #c3effe, #ffffff);
	align-items: center;
}

div.passwordInput input {
	display: block;
	width: 100%;
	background: transparent;
	outline: none;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	color: #000000;
}

div.inputContainer:focus-within {
	outline-color: #2a84f9;
	border: 2px solid #2a84f9;
}

div.inputContainer.error {
	border: 1px solid red;
}
