.header {
  gap: 3rem;
  margin: 3rem auto 5rem auto;
  width: 90%;
  max-width: 75rem;
  color: #000000;
  font-size: 1.5rem;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
}

.highlight {
  background: linear-gradient(90deg, #2a61f9, #76a5eb);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.link {
  cursor: pointer;
}

span.link:hover {
  text-decoration: underline;
}

.main {
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  color: rgb(245, 34, 34);
}


.row {
  display: flex;
  gap: 1rem;
}

.row p {
  width: 100%;
}